﻿@model MVCps.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (UserManager.GetUserId(User) != (String)ViewData["OwnerId"])
{
    <h3>You can only delete your own products!</h3>
}
else
{

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manufacturer.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-default" />

        </form>
    </div>
        }
        <a asp-action="Index">Back to List</a>
    
